<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>Clinica Viver Mais</title>

    <!-- Arquivos CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.png">

    <script src="https://kit.fontawesome.com/97cf635dfe.js" crossorigin="anonymous"></script>

    <title>Clinica Viver Mais</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row float-left">
            <div class="col-md-auto col-xs-12 menu pt-2">
                <button class="navbar-toggler navbar-light mb-2" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="col" id="menu">
                    <ul class="nav flex-column flex-nowrap overflow-hidden" >
                        <li class="nav-item text-center">
                            <img src="/static/img/logo.png" alt="logo">
                            <hr>
                            <div>
                                <p>Clínica Viver Mais</p>
                            </div>

                            <div class="sub-titulo"> 
                                <h6>
                                    Sua saúde é nossa <br> prioridade
                                </h6>
                            </div>
                            <hr>
                        </li>          
                
                        <li class="nav-item">
                            <a class="nav-link text-truncate" href="/">
                                <p>
                                    <i class="fas fa-house-user fa-lg"></i>
                                    início
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-truncate" href="sobre.php">
                                <p>
                                    <i class="fa fa-bar-chart fa-lg"></i> 
                                    Mais sobre
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-truncate" href="#">
                                <p>
                                    <i class="fa fa-calendar-alt fa-lg"></i> 
                                    Agende seu horário
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-truncate" href="#">
                                <p>
                                    <i class="fa fa-phone fa-lg"></i> 
                                    contato
                                </p>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>

            <div class="col-md">
            

   